
<div class="content">
  <div class="inner-content">
    <div class="header-block">
      <h1 class="principal-title">About us</h1>
    </div>
    <div class="body-content">
      <div class="story-part">
        <p>
          Are you looking to run your first 5k or do you want to read 1 book a month? 
          Whatever your goals are, you can find like-minded people who will help reach your goals.
          <span class="span_name">Challenge.me </span>gives you the possibility 
          to write down your objectives and find people with the same interests. 
          If you don’t have a specific objective in mind, you can simply browse our list of goals and subscribe.
        </p>
      </div>
      <div class="team-part">
        <div class="title">Our team</div>
        <div class="block">
          <span class="span_name">Julia</span> Founder
          <p>My challenges</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/juliaquinten/"></a>
          </div>
        </div>
        <div class="block">
          <span class="span_name">Cindy</span> Co-Founder & developer
          <p>My challenges</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/cindy-jacob-732250a5/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



