
<div class="content">
  <div class="inner-content">
    <div class="header-block">
      <h1 class="principal-title"><%= t('about_us')%></h1>
    </div>
    <div class="body-content">
      <div class="story-part">
        <p><%= t('first_paragraph_about_us')%>
          <span class="span_name">Challenge.me </span>
          <%= t('second_paragraph_about_us')%>
        </p>
      </div>
      <div class="team-part">
        <div class="title">Our team</div>
        <div class="block">
          <span class="span_name">Julia</span> Founder
          <p>My challenges</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/juliaquinten/"></a>
          </div>
        </div>
        <div class="block">
          <span class="span_name">Cindy</span> Co-Founder & developer
          <p>My challenges</p>
          <div class="social-media">
            <a href="https://www.linkedin.com/in/cindy-jacob-732250a5/"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



