<div class="content">
  <div class="inner-content">
    <div class="header-block">
      <h1 class="principal-title">Follow Us</h1>
    </div>
    <div class="body-content">
      <div class="story-part">
        <p>
          <span class="span_name">Challenge.me </span>
        </p>
      </div>
      <div class="team-part">
        <div class="title">You can find us ...</div>
        <div class="block">
         Here
        </div>
        <div class="block">
          And here
        </div>
      </div>
    </div>
  </div>
</div>