<h1><%= t('submit_new_challenge')%></h1>

<%= simple_form_for @challenge, url: challenges_new_path(@challenge) do |challenge| %>
  <%= challenge.input :name, label: t('give_name') %>
  <%= challenge.button :submit %>
<% end %>
