 @import "bootstrap";
 @import url('https://fonts.googleapis.com/css?family=Tajawal');
 $pink-pastel: #f0675c; 
 $white_two: #e9e7d5; 
 $turquoise: #3fd8c9;
 $dark_pink: #d4273e; 
 $dark_blue: #143163; 
 *{
  font-family: 'Tajawal', sans-serif;
 }
 .carousel-item{
   max-height:300px; 
 }
 h1{
   text-align: center; 
 }
 .current_user{
   color: $white_two;
   padding: 0 15px;
  line-height: 45px;
 }
 .navbar{
   a{
     color: $pink-pastel;
   }
 }
 .social-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .social-footer-icons, .social-footer-center {
    a{
      font-size: 1.3rem;
      color: $white_two;
      &:hover {
        color: $pink-pastel;
        transition: color 0.3s ease-in;
      }
    }
    ul.menu.simple{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0; 
    }
    li{
      list-style: none;
      margin: 0 20px;
    }
    li:last-of-type {
      margin-right: 0;
    }
    .fa {
      font-size: 1.3rem;
      color: $white_two;
      &:hover {
        color: $pink-pastel;
        transition: color 0.3s ease-in;
      }
    }
  }
}
.simple_form.new_challenge{
  width:100%; 
  display : flex; 
  justify-content: center; 
  .input.string.challenge_name,
  .input.string.challenge_description{
    display: flex;
    background-color: #f0675c; 
  }
}

