/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "foundation";
 @import url('https://fonts.googleapis.com/css?family=Tajawal');
 $pink-pastel: #f0675c; 
 $white_two: #e9e7d5; 
 $turquoise: #3fd8c9;
 $dark_pink: #d4273e; 
 $dark_blue: #143163; 
 *{
  font-family: 'Tajawal', sans-serif;
 }
 h1{
   text-align: center; 
 }
 .top-bar{
   a{
     color: $white_two !important;
   }
 }
 .social-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #333333;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .social-footer-icons, .social-footer-center {
    a{
      font-size: 1.3rem;
      color: $white_two;
      &:hover {
        color: $pink-pastel;
        transition: color 0.3s ease-in;
      }
    }
    ul.menu.simple{
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0; 
    }
    li{
      list-style: none;
      margin: 0 20px;
    }
    li:last-of-type {
      margin-right: 0;
    }
    .fa {
      font-size: 1.3rem;
      color: $white_two;
      &:hover {
        color: $pink-pastel;
        transition: color 0.3s ease-in;
      }
    }
  }
}

